body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container-main{
    width: 1438px;
    height: 769px;
    background-image: url(bg.png);
}
.logo{
    margin: 0px;
    padding-top: 88px;
    display: flex;
    justify-content: center
    
}
.hero-title{
    margin: 0px;
    padding-top: 306px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}
.hero-titl{
    margin: 0px;
    padding-top: 22px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.hero-tit{
    margin: 0px;
    padding-top: 221px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}
.header-row{
    display: flex;
    align-items: center;
    gap: 450px;
}
.menu{
    padding: 0;
    margin: 24px;
    list-style: none;
    display: flex;
    gap: 24px;
}
.menu-link{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
}
.log{
    margin-left: 251px;
}

