body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container-main{
    width: 1438px;
    height: 769px;
    background-image: url(bg.png);
}
.logo{
    margin: 0px;
    padding-top: 88px;
    display: flex;
    justify-content: center
    
}
.hero-title{
    margin: 0px;
    padding-top: 306px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}
.hero-titl{
    margin: 0px;
    padding-top: 22px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.hero-tit{
    margin: 0px;
    padding-top: 221px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}
.header-row{
    display: flex;
    align-items: center;
    gap: 450px;
}
.menu{
    padding: 0;
    margin: 24px;
    list-style: none;
    display: flex;
    gap: 24px;
}
.menu-link{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
}
.log{
    margin-left: 251px;
}
.bases{
    margin: 58px 249px;
    width: 941px;
    height: 344px;
}
.ding{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}
.feature{
    display: flex;
    justify-content: center
}
.heso-title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
}
.heso-desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}
.heso-row{
    margin-top: 84px;
    gap: 34px;
    width: 941px;
    height: 344px;
    display: flex;
    align-items: center;
}
.heso-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.heso-image{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.boks{
    display: flex;
    justify-content: center
}
.til{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
}
.ters{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    margin-left: 154px;
}
.advant-btns{
    width: 150px;
    height: 40px;
    background-color: #00a4e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-blue{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    color: #fff;
  
}
.container-advant{
    padding: 118px 250px;
    width: 940px;
    height: 446px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.advant-row{
    display: flex;
    flex-wrap: wrap;
    margin: -16px;

}
.advant-item-container{
    width: 33%;
    padding: 16px;
    box-sizing: border-box;
    
}
.advant-item-title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
}
.advant-item-desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}